/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(224, 33%, 16%);
    color: #fbfcf8;
    font-family: "Montserrat Alternates", sans-serif;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  main {
    width: 70%;
    max-height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }

  .title {
    font-size: 3rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 16px;
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
  }

  button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 150px;
    background-color: hsl(232, 37%, 42%);
    box-shadow: 0 5px 8px hsl(224, 33%, 5%);
    cursor: pointer;
    color: #fbfcf8;
  }

  button:hover {
    background-color: hsl(229, 38%, 59%);
  }

  .grid-container {
    background-color: #fbfcf8;
    width: 960px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
  }